<footer>
    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolorem quod consectetur error doloremque totam! Rerum nam, nostrum facilis labore voluptates consequatur ullam, excepturi sint doloribus quam odit possimus vitae.</h3>
</footer>